.topic-framework-content
  = labeled_field :steward, "Stewards", unknown: :blank
  = labeled_field :assessment, nil, unknown: :blank
  = field_nest :description
  .pt-4
    = field_nest :category, view: :titled, items: { view: :closed }, title: "Tree"
  .pt-4
    = render_header title: "Search", hide: :menu
    = field_nest :topic, view: :filtered_content
