.new-metric
  .main-card-header
    %h1 New Metric
  %lead
    To create a new metric, choose a metric type below:

  .metric-category
    %h3 Researched Metric Types
    %p
      Answers to researched metrics are added directly or via import/API. Each answer
      must cite a
      #{link_to_card :source}.
    .metric-type-list
      = new_metric_link :researched
      = new_metric_link :relationship

  .metric-category
    %h3 Calculated Metric Types
    %p
      Answers to calculated metrics are dynamically computed from other answers formulaically.
    .metric-type-list
      = new_metric_link :formula
      = new_metric_link :descendant
      = new_metric_link :score
      = new_metric_link :wiki_rating
