.new-metric
  .main-card-header
    %h1 New Metric
  .lead
    To create a new metric, choose a metric type below:

  .mt-5
    %h3 Researched Metric Types
    %p
      Answers for researched metrics are added directly or via import/API. Each answer
      must cite a
      #{link_to_card :source}.
    .metric-type-list
      = new_metric_link :researched
      = new_metric_link :relation

  .mt-5
    %h3 Calculated Metric Types
    %p
      Answers to calculated metrics are dynamically computed from other answer
      formulaically.
    .metric-type-list
      = new_metric_link :formula
      = new_metric_link :descendant
      // = new_metric_link :score
      // excluding scores for now, because if you go to a new score without choosing
      // the metric first, we don't know what to do.
      = new_metric_link :rating
