.fancy-counts.row.py-3
  - count_categories.each do |cat|
    .col-md-3.col-6.text-center.p-3
      .text-primary.large-icon
        - library, icon = icon_lookup cat
        - if library == :wikirate
          = icon_tag icon
        - else
          = material_symbol_tag icon
      %h1
        = nest cat, view: :count
      .py-1
        - if %i[account designer].member? cat
          %a
            = count_label cat
        - else
          = link_to_card cat, count_label(cat)
      -# .count-description
      -#   = nest [cat, :header], view: :core