.metric{class: slot_attr}
  %div
    -if !metric?
      .d-flex.flex-nowrap.metric-color
        .image-box.icon.bg-white
          = fa_icon "bar-chart", class: "metric-color"
        = autocomplete_field :metric
    -elsif metric_pinned?
      .metric-color.d-flex.flex-nowrap.align-items-center
        .image-box.icon
          %span.img-helper
          = nest metric, view: :designer_image
        %h5.mb-0
          = link_to_card metric, Card[metric].metric_title, class: "inherit-anchor"
    - else
      .image-box.icon
        %span.img-helper
        = nest metric, view: :designer_image
        %h5.mb-0
          = Card[metric].metric_title
        = metric_select
  - if project?
    .d-flex.flex-nowrap.align-items-center.ml-3.w-25.justify-content-between
      .w-100.pr-2
        = nest [company, project], view: :research_progress_bar
      = next_button :metric
