- if project?
  .metric.d-flex
    .w-75.my-2.ml-4
      = nest [company, project], view: :research_progress_bar
    .d-flex.flex-nowrap.align-items-center.ml-3.w-25.justify-content-between.metric-nav
      = previous_button :metric
      %small
        = index(:metric) + 1
        = "/"
        = list_count :metric
      = next_button :metric
.metric{class: slot_attr}
  -if !metric?
    %div
      .d-flex.flex-nowrap.metric-color
        .image-box.icon.bg-white
          = fa_icon "bar-chart", class: "metric-color"
        = autocomplete_field :metric
  -elsif metric_pinned?
    %div
      .metric-color.d-flex.flex-nowrap.align-items-center
        .image-box.icon
          %span.img-helper
          = nest metric, view: :designer_image
        %h6.mb-0
          = link_to_card metric, Card[metric].metric_title, class: "inherit-anchor"
  - else
    .metric-select.w-75
      = metric_select
