%div{class: project_slot_attr}
  .d-flex.flex-nowrap
    .image-box.icon
      %span.img-helper
        = nest [project, :image], view: :core, size: :small
    %h6.mb-0
      = nest project, view: :link
      -#.default-progress-box.w-25
      -#  = nest project, view: :research_progress_bar
.metric.d-flex
  .w-75.my-2.ml-4
    = nest [company, project], view: :research_progress_bar
  .d-flex.flex-nowrap.align-items-center.ml-3.w-25.justify-content-between.metric-nav
    = previous_button :metric
    %small
      = index(:metric) + 1
      = "/"
      = list_count :metric
    = next_button :metric