.company{class: slot_attr}
  %div
    - if !company?
      .d-flex.flex-nowrap.company-color
        .image-box.small.bg-white
          = fa_icon :industry, class: "company-color"
        %h6.mb-0
        = autocomplete_field :company
    - elsif company_pinned?
      .company-color.d-flex.flex-nowrap.align-items-center
        .image-box.small
          = nest [company, :image], view: :core, size: :small
        %h6.mb-0
          = link_to_card company, nil, class: "inherit-anchor"
    - else
      .dropdown
        %a.company-color.dropdown-toggle.d-flex.flex-nowrap.no-decoration.align-items-center{href:"#", data: { toggle: "dropdown" } }
          .image-box.small
            %span.img-helper
            = nest [company, :image], view: :core, size: :small
          %h6.mb-0
            = company
        .dropdown-menu.scrollable-menu
          - company_list.each do |company|
            .dropdown-item.company-color.border-bottom
              %a.inherit-anchor.no-decoration{href: research_url(company: company)}
                %h6.mb-0
                  = company
  -#- if project?
  -#  = next_button :company
  -#  .w-25
  -#    = nest [company, project], view: :research_progress_bar
