.sourcebox.p-3
  %form.slotter{ method: "get", "data-remote": true,
                 action: path(view: :source_selector,
                              card: { type_id: card.type_id }) }
    = text_field_tag :source_search_term, nil, placeholder: "http://",
                                               class: "p-2 w-50",
                                               value: source_search_term
    - if source_results?
      = submit_button text: fa_icon("times"),
                      class: "_reset_sourcebox",
                      value: "reset",
                      situation: "outline-secondary"
    = submit_button text: "#{fa_icon :globe} Find or Add Source".html_safe,
                    class: "_sourcebox",
                    value: "search",
                    situation: "outline-primary"
= render_flash
//= render_freshen_form
