- ident = card.company_identifier
%span._ident-field.hover-field{ title: "#{card.company_identifier.name}: #{render_raw}",
                                class: "_ident-field-#{ident.abbreviation}",
                                data: { ci: [ident.name, ident.abbreviation] } }<
  %label
    = ident.abbreviation + ": "
  = render_raw