.row.nopadding.transparent-background-white.nodblclick
  .col-md-12.nopadding.d-md-block.d-lg-block.d-none
    / tabs
    .tabbable.tabs-left
      %ul.nav.nav-tabs.intro-tabs.flex-column{role: "tablist"}
        - categories.each do |type|
          %li{class: "nav-item #{type}-tab"}
            %a{"data-target": "##{type}-tab", "data-toggle": "tab", :href => "#",
               class: "nav-link#{' active' if type == :company}", role: "tab"}
              = nest "homepage: #{type} intro", view: :core
      / panels
      .tab-content.intro-tab-panels
        - categories.each do |type|
          %div{id: "#{type}-tab", class: "tab-pane#{' active' if type == :company}",
                                  role: "tabpanel"}
            = nest "homepage #{type}", view: :carousel, items: { view: :homepage_item }
            .browse-button
              %a.btn.btn-sm.btn-outline-secondary{href: "/#{type}"}
                = "Browse #{type.to_s.pluralize.capitalize}"

  / for medium and mobile devices
  .col-md-12.nopadding.d-md-none.d-lg-none.d-block
    - categories.each do |type|
      %h3.text-center.no-bold-text.m-2
        = nest "homepage: #{type} intro", view: :core
      = nest "homepage #{type}", hide: [:paging, :title],
                                 items: { view: :homepage_item_sm }
      .col-12.text-center
        %a.btn.btn-sm.btn-outline-secondary.m-3{href: "/#{type}"}
          = "Browse all #{type.to_s.pluralize.capitalize}"
