.row.m-0.p-0.transparent-background-white.nodblclick.slide-container.border-top
  .col-12.text-center.p-3
    %h1.font-weight-normal.m-4 WikiRate in numbers
  .col-8.mx-auto.mt-4
    .row
      .col-6
        - categories.each_index do |n|
          .d-flex.mb-5.mr-4.justify-content-end
            .text-right.mx-3
              %h1.font-weight-normal
                = counts[n]
              %h5.font-weight-normal.text-muted
                = categories[n].to_s.split("_").join(" ").capitalize
            .drop-shadow.rounded-circle.bg-white.image-box.small.m-2{class: "#{colors[n]}-color"}
              = icon_tag(icons[n], class: "md-24 p-3")
      .col.mt-4
        - examples.each do |example|
          = nest(example, view: :homepage_answer_example)
