%footer.container-fluid.bg-light.border-top.py-5.homepage-footer
  .row
    .col-12.col-md
      .navbar-brand.p-0.nav-logo.text-center
        = nest :wikirate_grey_logo
    .col-6.col-md
      = nest :menu_explore
    .col-6.col-md
      = nest :menu_about
    .col-6.col-md
      = nest :menu_connect
    .col-6.col-md
      = nest :menu_legal
    .col-6.col-md.mr-3
      = nest :partner_logos
