.details-top.my-3
  %h5 Question
  .alert.alert-secondary
    = nest metric_card, view: :question
  %h5 Answer
  .alert.alert-primary
    = handle_unknowns { nest card.value_card, view: :pretty }
    .text-muted
      = render_legend
  .record-details.d-flex.justify-content-between.my-3
    .year-details.d-flex.align-items-center
      = "#{record_count}-Year Record:"
      .other-year-links.mx-3
        = render_other_year_links
    .d-flex.align-items-center.justify-content-end
      = render_flags
      .mb-2
        = render_research_button





