- if project?
  .d-flex.wd-100.justify-content-between.flex-nowrap
    .d-flex.flex-nowrap
      .image-box.icon
        %span.img-helper
          = nest [project, :image], view: :core, size: :small
      %h4
        = nest project, view: :link
    = nest project, view: :overall_progress_box
.row
  .col-5
    %h5
      -if metric_pinned?
        = nest selected_metric, view: :thumbnail_minimal
      - else
        .dropdown
          %a.metric-color.no-decoration.dropdown-toggle.d-flex.flex-nowrap.align-items-center{href:"#", data: { toggle: "dropdown" } }
            .image-box.icon
              %span.img-helper
              = nest selected_metric, view: :designer_image
            = Card[selected_metric].metric_title
          .dropdown-menu.scrollable-menu
            - metrics.each do |metric|
              .dropdown-item.metric-dropdown-item
                %a.inherit-anchor.no-decoration{href: research_url(metric: metric)}
                  %h5.metric-color= Card[metric].metric_title
                  = nest [metric, :question], view: :core
                  - selected_record_card.all_answers.each do |a|
                    %div.d-flex.flex-no-wrap
                      %div.mr-3
                        = a.year
                      %div
                        = nest a, view: :concise, hide: :year
              .dropdown-divider

    %h5
      - if company_pinned?
        = nest selected_company, view: :thumbnail_minimal
      - else
        .dropdown
          %a.company-color.dropdown-toggle.d-flex.flex-nowrap.no-decoration.align-items-center{href:"#", data: { toggle: "dropdown" } }
            .image-box.icon
              %span.img-helper
              = nest [selected_company, :image], view: :core, size: :small
            = selected_company
          .dropdown-menu.scrollable-menu
            - companies.each do |company|
              .dropdown-item.company-color
                %a.inherit-anchor.no-decoration{href: research_url(company: company)}
                  %h5
                    = company
              .dropdown-divider
    %h5
      - if year_pinned?
        .image-box.icon.bg-white
          %span.img-helper
          = fa_icon :calendar, class: "text-muted"
        = selected_year
      - else
        .dropdown
          %a.inherit-anchor.no-decoration.dropdown-toggle.d-flex.flex-nowrap.align-items-center{ href: "#", data: { toggle: "dropdown" } }
            .image-box.icon.bg-white
              %span.img-helper
              = fa_icon :calendar, class: "text-muted"
            %strong
              = selected_year
          .dropdown-menu.scrollable-menu.slab
            - years.each do |year|
              .dropdown-item
                %a.inherit-anchor.no-decoration{href: research_url(year: year)}
                  %h5.d-flex.flex-no-wrap.text-muted
                    %div.mr-5
                      = year
                    -if selected_record_card.answers_by_year[year]
                      %div
                        = nest selected_record_card.answers_by_year[year], view: :concise, hide: :year
                    -else
                      %i
                        add answer
    = answer_tabs
    
  .col-7
    = render_source_side