.cite-bar._cite-bar{ data: { "card-id": card.id,
                             "card-name": h(card.name),
                             year: year_list } }
  .text-right
    = render_cite_button
    = render_freshen_button
  = render_preview_bar
  = render_uncite_button
  = hidden_item_input
