.researcher-buttons.mt-3.mb-3
  = render :join_button
  = render :leave_button
  = render :manage_button
.researcher-details
  = render :contributions
  - if card.ok? :update
    .py-4
      = render :export_button
