.researcher-buttons.mt-3.mb-3
  = render :join_button
  = render :leave_button
  = render :manage_button
.researcher-details
  = render :contributions
- if card.ok_to_export?
  .py-4
    = render_export_button