- klass = "#{card.name.safe_key}-featured-boxes"
.feature-boxes{ class: klass }
  %h2.py-5.fw-normal
    = voo.title || featured_header
  .pb-5
    .feature-boxes-slider{ data: {
          slick: { #infinite: false,
                   centerMode: true,
                   slidesToShow: 3,
                   prevArrow: ".#{klass} .wr-prev",
                   nextArrow: ".#{klass} .wr-next",
                   responsive: [
                     { breakpoint: "992", settings: { slidesToShow: 2 } },
                     { breakpoint: "768",  settings: { slidesToShow: 1 } }
                   ] }.to_json
        } }
      - card.featured_card.item_cards.each do |item|
        = nest item, view: :box

