-if show_contribution_report?
  - haml_wrap do
    .contribution-report-header
      %ul.nav.nav-tabs
        %li.contribution-report-title-box
          -if has_badges?
            = report_title_link
          -else
            = report_title

        - valid_actions.each do |action|
          %li.contribution-report-box.nav-item
            -if action
              = report_link report_tab(action), action, true
            -else
              %p
        %li.contribution-report-toggle.text-center.nav-item
          = report_link toggle_icon, toggle_action, true
    = contribution_list

