- sample_record = record_log_sample_record metric_id, company_id, year, value
- if record_count == 1
  = nest_item sample_record, view: :full_bar
- else
  - class_up "bar", "with-bar-menu" if voo.show? :bar_menu
  .record-group.grouped-record-log-list.no-bar-hover.w-100.nodblclick.d-flex{ class: classy("bar"), data: sample_record.format.bar_wrap_data }
    .row.g-0.bar-body
      .bar-left.col-8
        = nest_item sample_record, view: :bar_left
      .bar-middle.col-2._record-group-modal-link
        = nest_item sample_record, view: :bar_middle
      .bar-right.col-2
        = nest_item sample_record, view: :markers
        .latest-and-count.d-flex.align-items-center
          .TYPE-year.color-on-hover
            = sample_record.year
          .ps-1
            +
          = record_count_badge :year, (record_count - 1)
    .bar-menu
      = nest sample_record, view: :bar_menu
