.listing.list-group-item.d-flex.justify-content-between.p-0
  .listing-left.col-4.p-2
    = render :listing_left
  .listing-middle.col-4.p-3.border-left
    = render :listing_middle
  .listing-right.p-3.border-left
    = render :listing_right
    = render :listing_page_link
    = render :listing_expand_link
