- middle = voo.show? :listing_middle
.listing.border.d-flex.justify-content-between.p-0.double-border-fix-bottom.with-fancy-border.bar-top.left-stripe
  .listing-left.p-2.font-weight-bold{ class: "col-8#{' col-md-6' if middle}" }
    = render :listing_left
  - if middle
    .listing-middle.col-3.d-none.d-md-inline.p-3.border-left
      = render :listing_middle
  .listing-right.p-3.border-left.text-align-right{ class: "col-4#{' col-md-3' if middle}" }
    = render :listing_right
    = render :listing_page_link
    = render :listing_expand_link
