%footer#wikirate-footer.container-fluid.bg-light.nodblclick
  .container.py-5
    .row.footer-link-lists.mb-4.py-5
      .col-12.col-sm-4
        %a.pb-2.logo-link.logo-symbol-link{ href: "/" }
          %img{ src: "/mod/wikirate/logos/wr_logo_symbol.svg" }

        %p.py-2.pe-5
          Wikirate, an initiative of&nbsp;
          %a{ href: "https://wikirate-intl.org", target: "_intl" }>
            %span> Wikirate International e.V.
          , is an open data platform powered by its community.

      .col-6.col-sm-4
        .footer-link-list.py-2
          %h2 legal
          - footer_legal_link_list.each do |link|
            = link
      .col-6.col-sm-4
        .footer-link-list.py-2
          %h2 contact
          %a{ href: "https://wikirate-intl.org/Contact_us", target: "_intl" }
            Contact us on Wikirate international
          %a{ href: "https://wikirate.us7.list-manage.com/subscribe/post?u=be57db47b40c6b1c7e9ef0b36&id=1354650004",
               target: "_intl" }
            Subscribe for Updates

        #footer-social-media-links.pb-2.pt-4
          %h2 follow us
          .d-flex.justify-content-between
            - social_media_links.each do |social, url|
              = link_to font_awesome_icon_tag(social.downcase, brand:true),
                        href: url, title: social, target: "_social"

    %hr

    .footer-footer.small.row.text-content
      .decko-credit.col-12.col-md-4
        .d-flex.pb-3
          = link_to nest(:decko_logo, view: :core),
                    href: "https://decko.org", target: "_decko"
          %label
            We're on
            = link_to "Decko", href: "https://decko.org", target: "_decko"
      .wikirate-licensing.col-12.col-md-8.pb-3
        = nest :wikirate_license, view: :core
