#homepage.nodblclick

  %section.container.px-5.p-2
    = render_menu

  // SEARCH SECTION

  %section#homepage-search-section.container-fluid
    .container.p-5
      = render_search

  // TYPE LINK SECTION

  %section#homepage-type-links-section.container-fluid.vertical-thumbnails.p-5
    = render_type_links

  %section#homepage-numbers-section.container-fluid.bd-purple-100
    .container.p-5
      = render_involved

  %section#homepage-involved-section.container.p-5
    = render_fancy_counts

  %section#homepage-delta-section.vertical-thumbnails.container-fluid.bg-light
    .container.p-5
      = render_delta

  %section#homepage-designer-section.vertical-thumbnails.container.p-5.text-center
    = render_designers
