#homepage.nodblclick
  %section.container.px-5.p-2
    = render_menu

  // SEARCH SECTION

  = render_search

  // TYPE LINK SECTION

  %section#homepage-type-links-section.container-fluid.vertical-thumbnails.p-5
    = render_type_links

  %section#homepage-involved-section.container-fluid.bg-light
    .container.p-5
      = render_involved

  %section#homepage-numbers-section.container.p-5
    = render_fancy_counts

  %section#homepage-delta-section.vertical-thumbnails.container-fluid.bg-light
    .container.p-5
      = render_delta

  %section#homepage-designer-section.container.p-5.text-center
    = section_header :homepage_designers_heading
    = render :company_slider

