#homepage.nodblclick
  - if :alert_banner.card.content.strip.present?
    %section#homepage-alert.container-fluid.bg-dark
      .d-flex
        .container.text-white.text-center.p-2
          = nest :alert_banner, view: :core
        .button#close-alert-button.close-alert-button.text-white.align-self-center
          x

  %section#homepage-menu.container.px-5.py-2
    = render_menu

  // SEARCH SECTION

  = render_search

  // TYPE LINK SECTION

  %section#homepage-type-links-section.container.vertical-thumbnails.py-5
    = render_type_links

  %section#homepage-involved-section.container-fluid.bg-light
    .container.py-5
      = render_involved

  %section#homepage-numbers-section.container.py-5
    = render_fancy_counts

  %section#homepage-delta-section.vertical-thumbnails.container-fluid.bg-light.pt-5.pb-3
    .container.py-5
      = render_delta

  %section#homepage-designer-section.container.py-5
    .d-flex.justify-content-center.py-5
      .w-50.text-center
        = section_header :homepage_designers_heading
    .w-100
      = render :company_slider
