#homepage.nodblclick
  - if alert?
    %section.homepage-alert._homepage-alert.container-fluid.bg-dark
      = render_alert

  = nest :nav_bar, view: :core

  %section#homepage-banner-section
    = render_banner

  %section#homepage-ratings-section
    .container
      = nest :metric, view: :featured_boxes, show: :featured_link

  %section#homepage-involved-section.container-fluid.bg-light
    .container.py-5
      = render_involved

  %section#homepage-numbers-section.container.py-5
    = render_fancy_counts

  %section#homepage-delta-section.vertical-thumbnails.container-fluid.bg-light.pt-5.pb-3
    .container.py-5
      = render_delta

  %section#homepage-dataset-section.container-fluid.bg-light-purple
    .container.py-5
      = nest :dataset, view: :featured_boxes, show: :featured_link

  %section#homepage-designer-section.container.py-5
    .d-flex.justify-content-center.py-5
      .w-50.text-center
        = section_header :homepage_designers_heading
    .w-100
      = render :company_slider
