
= section_header :homepage_delta_heading do
  - render_nav_arrows

.homepage-delta-cards.py-4.pt-5{ data: {
  slick: {
    infinite: false,
    slidesToShow: 6,
    prevArrow: "#homepage-delta-section .wr-prev",
    nextArrow: "#homepage-delta-section .wr-next",
    responsive: [
      { breakpoint: "992", settings: { slidesToShow: 4 } },
      { breakpoint: "768",  settings: { slidesToShow: 2 } }
    ]}.to_json
} }
  - delta_answers.each do |answer|
    - benchmark_answer = answer.direct_dependee_answers.first
    - height_reduction = (10 - benchmark_answer.numeric_value) * 4
    .h-100.px-3{ style: "padding-top: #{height_reduction}px" }
      .card.bg-white.p-4.justify-content-between
        .delta-values
          .delta-score
            = nest benchmark_answer.value_card, view: :core
          .py-2
            %i.fas.fa-arrow-right
          .pb-2.small
            - sign = answer.numeric_value < 0 ? "" : "+"
            = "#{sign}#{number_with_precision answer.value, precision: 2}"
          .pb-2.small
            = answer.year.to_i - 1
            vs
            = answer.year
        .delta-company.pt-3
          = nest answer.company, view: :thumbnail
