
= section_header :homepage_delta_heading do
  - render_shuffle_button + render_nav_arrows

.homepage-delta-cards.py-4.pt-5{ data: {
  slick: {
    infinite: false,
    slidesToShow: 6,
    prevArrow: "#homepage-delta-section .wr-prev",
    nextArrow: "#homepage-delta-section .wr-next",
    responsive: [
      { breakpoint: "992", settings: { slidesToShow: 4 } },
      { breakpoint: "768", settings: { slidesToShow: 2 } }
    ]}.to_json
} }
  - delta_records.each do |record|
    - benchmark_record = record.direct_dependee_records.first
    - height_reduction = 10 + (10 - benchmark_record.numeric_value) * 12
    - trend = trending record.numeric_value
    .h-100.px-2.pb-5{ style: "padding-top: #{height_reduction}px" }
      .card.bg-white.p-3.justify-content-between
        .delta-values
          .delta-score
            = nest benchmark_record.value_card, view: :core
          .d-inline-block.py-2.small
            .d-flex.record-trending{ class: "record-trending-#{trend[:direction]}"}
              .d-flex.me-2
                = icon_tag "trending_#{trend[:direction]}"
              = "#{trend[:sign]}#{number_with_precision record.value, precision: 2}"
          .pb-2.small
            = record.year.to_i - 1
            vs
            = record.year
        .delta-company.pt-3
          = nest record.company, view: :thumbnail_no_subtitle
