%ul{class: ul_classes}
  - card.constraints.each do |constraint|
    %li.pointer-li.mb-1
      .input-group.mb-2
        .input-group-prepend.w-20
          .input-group-text
            Metric
        = metric_dropdown constraint.metric.name
      .input-group.mb-2
        .input-group-prepend.w-20
          .input-group-text
            Year
          = select_filter :year, constraint.year
      .input-group.mb-2
        .input-group-prepend.w-20
          .input-group-text
            Value
          = filter_value_formgroup constraint.metric.value_type_code, constraint.value
      %button.pointer-item-delete.btn.btn-secondary{ type: "button"}
        = icon_tag :remove
%span.input-group
  %button._pointer-item-add.btn.btn-secondary{ type: "submit" }
    = icon_tag "add"
    add another