.answer-read-form
  .form-group.read-form-group
    %label
      Question
    .read-formgroup-content
      = nest card.metric_card.question_card, view: :core

  .form-group.read-form-group
    %label
      Answer
    .read-formgroup-content
      = field_nest :value, view: :core
      = field_nest :value, view: :credit

  = render_read_form
  = render_flash
  .button-form-group.d-flex.justify-content-between
    - class_up "flag-button", "btn-lg"
    .pe-2
      = link_to_view :edit_inline, "Edit Answer",
                     class: "btn btn-outline-secondary btn-lg _edit-answer-button",
                     data: { "disable-with": "Loading..." }

    .pe-2
      = render_flag_button
    = field_nest :checked_by, view: :content