//.card-menu-hoverspace

%section#about-wikirate-header.container-fluid.bg-light.header-with-bg
  .container.pb-5.pt-3
    = render_breadcrumbs
    = section_header :platform_main_heading, header_size: :h1,
                                             button: { url: "/new/:signup",
                                                       text: "Join us" }

%section.container.py-5.d-flex.justify-content-center
  .py-4.w-lg-66
    = nest :platform_vision, view: :icon_left_text_right
    = nest :platform_mission, view: :icon_left_text_right

%section.container-fluid.bg-light.py-5
  .container.py-5.pt-3
    %h2.py-5
      Free tools for taking action
    .row.justify-content-center
      - %i[about blurb].card.item_cards.each do |blurb|
        .card-list-flipper.col-12.col-sm-6.col-xl-4
          .item-flipper.py-3
            = nest blurb, view: :flipper


%section#our-values-section.container.py-5
  .py-4.text-center
    %h2.py-3 Our values
    .row.justify-content-center
      - %i[value blurb].card.item_cards.each do |blurb|
        .col-12.col-sm-6.col-md-4.p-3
          = nest blurb, view: :stack

%section#our-story-section.container-fluid.text-center.py-4
  .container.py-5
    .d-inline-block.w-lg-66.text-start.p-3
      = nest :our_story, view: :titled, hide: :menu

%section#about-ctas.container.py-5
  .row.py-4
    #about-cta.col-12.col-md-6.d-flex.my-3
      = nest :about_cta, view: :cta, title: "Learn more about our services"
    .col-12.col-md-6.d-flex.my-3
      = nest :contact_us, view: :section
