//.card-menu-hoverspace

%section#about-wikirate-header.container-fluid.bg-light.header-with-bg
  .container.p-5.py-3
    = render_breadcrumbs
    = section_header :platform_main_heading, url: "/new/:signup", text: "Join us"

%section.container.p-5
  = nest :platform_vision, view: :image_left_text_right
  = nest :platform_mission, view: :image_left_text_right

%section.container-fluid.bg-light
  .container.p-5
    %h2
      Free tools for taking action
    = field_nest :blurb, view: :content, items: { view: :flipper }

%section#our-values-section.container.p-5
  = nest %i[value blurb], view: :titled, title: "Our Values", items: { view: :stack }

%section#our-story-section.container-fluid.text-center.header-with-bg
  .container.p-5
    .d-inline-block.w-75.text-start
      = nest :our_story, view: :titled


%section.contact-us.container.p-5
  .row
    .col-6.d-flex
      .card.bg-primary.text-white.w-100
        .card-body
          %h4.card-title.text-white
            Partner with WikiRate International
          %p.pb-5
            Check out the ways in which the WikiRate team can help you

          %a.text-white
            Learn More
            = icon_tag :next
    .col-6.d-flex
      .card.bg-light-purple.w-100
        .card-body
          %h4.card-title
            Talk to a human

          %a
            Get in Touch
            = icon_tag :next

