//.card-menu-hoverspace

%section#about-wikirate-header.container-fluid.bg-light.header-with-bg
  .container.p-5.py-3
    = render_breadcrumbs
    = section_header :platform_main_heading, url: "/new/:signup", text: "Join us"

%section.container.p-5.d-flex.justify-content-center
  .p-4.w-50
    = nest :platform_vision, view: :icon_left_text_right
    = nest :platform_mission, view: :icon_left_text_right

%section.container-fluid.bg-light.p-5
  .container.p-3
    %h2.py-4
      Free tools for taking action
    = field_nest :blurb, view: :content, items: { view: :flipper }

%section#our-values-section.container.p-5
  .p-4
    = nest %i[value blurb], view: :titled, title: "Our Values", items: { view: :stack }

%section#our-story-section.container-fluid.text-center.p-4
  .container.p-5
    .d-inline-block.w-75.text-start.p-4
      = nest :our_story, view: :titled


%section#about-ctas.container.p-5
  .row.p-4
    #about-cta.col-6.d-flex
      = nest :about_cta, view: :cta, title: "Explore contribution opportunities"
    .col-6.d-flex
      = nest :contact_us, view: :section
