.search-types-nav.d-flex.justify-content-between.align-items-center.my-3
  .search-type-links.d-flex.align-items-center.flex-wrap
    - if type_param && (type = type_param.card)
      .d-inline-block.me-3.my-1.badge.filter-chip.text-nowrap{ class: "bg-#{type.key}-light" }
        = icon_tag type.codename
        = type.name.vary :plural
        = link_without_type icon_tag(:remove), class: "remove-filter-link ms-1"
      = link_without_type "Clear category filter"
    - else
      - featured_type_ids.each do |type|
        = link_to_type type.codename

  - if type_param
    .advanced-filter-link.text-nowrap
      - type = type_param.cardname
      - path_opts = { mark: type, query: { type: type } }
      - path_opts[:filter] = { name: search_keyword } if search_keyword
      = link_to "Browse and Filter #{type.vary :plural} #{icon_tag :forward}",
                path: path_opts

