.row
  .col-3
    = field_nest :image, view: :content
  .col-9
    = field_nest :output_type, view: :labeled, title: "type", items: { view: :name }
    = field_nest :uri, view: :labeled, title: "URI"
    = field_nest :file, view: :labeled, title: "file"
    = field_nest :year, view: :labeled, title: "year"
.my-5
  = field_nest :description, title: "Description"
