.row
  .col-3
    = field_nest :image, view: :content, size: :large
  .col-9
    = field_nest :output_type, view: :labeled, title: "type", items: { view: :name }
    = field_nest :uri, view: :labeled, title: "URI"
    = field_nest :file, view: :labeled, title: "file"
    = field_nest :date, view: :labeled, title: "date" # , items: { view: :name }
    = field_nest :wikirate_company, view: :labeled, title: "organization",
                                    items: { view: :thumbnail_no_subtitle }
.my-5
  = field_nest :description, title: "Description"
