.row.pb-5
  .col-6
    = field_nest :image, view: :content, size: :large
  .col-6
    = field_nest :output_type, view: :labeled, title: "type", items: { view: :name }
    = field_nest :uri, view: :labeled, title: "URI"
    = field_nest :file, view: :labeled, title: "file"
    = field_nest :date, view: :labeled, title: "date" # , items: { view: :name }
    = field_nest :wikirate_company, view: :labeled, title: "organization",
                                    items: { view: :thumbnail_no_subtitle }
.p-5.text-center
  .d-inline-block.w-lg-66.text-start
    = field_nest :description, title: "Description"
