.row
  .col-3
    = field_nest :image, view: :content, size: :large
  .col-9
    = field_nest :title, view: :labeled, title: "title"
    = field_nest :output_type, view: :labeled, title: "type", items: { view: :name }
    = field_nest :uri, view: :labeled, title: "URI"
    = field_nest :file, view: :labeled, title: "file"
    = field_nest :year, view: :labeled, title: "year"
    = field_nest :wikirate_company, view: :labeled, title: "organization",
                                    items: { view: :thumbnail }
.my-5
  = field_nest :description, title: "Description"
