
%section.d-flex.py-3.align-items-center
  .me-3.badge.badge-purple
    = field_nest :output_type, view: :core, items: { view: :name }
  = field_nest :date, view: :core, unknown: :blank

%h1
  = render_title

.py-2
  = field_nest :company,
                unknown: :blank,
                items: { view: :thumbnail_no_subtitle }

%section.py-3
  = field_nest :image, view: :content, size: :original

%hr.my-3

%section
  - output_type_name = card.output_type.to_name.standard
  - if card.uri.present?
    %a.btn.btn-outline-primary.me-3{ href: card.uri }
      Visit
      = output_type_name

  - if card.file.present?
    %a.btn.btn-outline-primary{ href: card.file_card.format.source }
      Download
      = output_type_name

%hr.my-3

%section.py-5
  = field_nest :description