//.card-menu-hoverspace

%section.container-fluid.bg-light
  .container.p-5.py-3
    = render_breadcrumbs
    .py-5
      = section_header :platform_main_heading do
        - capture_haml do
          %a.btn.btn-lg.btn-primary{ href: "/new/:signup" }
            Join Us

%section.container.p-5
  = nest :platform_vision, view: :image_left_text_right
  = nest :platform_mission, view: :image_left_text_right


%section.container-fluid.bg-light
  .container.p-5
    %h2
      Free tools for taking action
    = field_nest :blurb, view: :content, items: { view: :flipper }

%section.container.p-5.text-center
  .d-inline-block.w-75.text-start
    %h2 Our Story
    (our story)

%section.container-fluid.bg-light
  .container.p-5
    %h2 Our Values
    (values blurbs)

= nest :contact_us, view: :section
