%section#about-community-header.container-fluid.header-with-bg
  .container.p-5.py-3
    = render_breadcrumbs
    = section_header :main_community_heading, url: "/new/:signup", text: "Join Us"

%section.container.p-5
  (counts)

%section.container-fluid.bg-light
  .container.p-5
    = section_header :community_action_heading
    (boxes)
    // = field_nest :blurb, view: :content, items: { view: :stack }

%section.container.p-5
  = section_header :community_member_heading
  (members)

= nest :contact_us, view: :section
