%section#about-community-header.container-fluid.header-with-bg
  .container.pt-3.pb-5
    = render_breadcrumbs
    = section_header :main_community_heading, button: { url: "/new/:signup",
                                                        text: "Join Us" },
                                              header_size: :h1

%section.container.py-5
  = render_fancy_counts

%section#community-actions.container-fluid.bg-light.py-5
  .container.pt-5
    = section_header :community_action_heading do
      - render_nav_arrows
    .py-5
      .community-action-cards{ data: {
        slick: { #infinite: false,
                 centerMode: true,
                 slidesToShow: 3,
                 prevArrow: "#community-actions .wr-prev",
                 nextArrow: "#community-actions .wr-next",
                 responsive: [
                   { breakpoint: "992", settings: { slidesToShow: 2 } },
                   { breakpoint: "768",  settings: { slidesToShow: 1 } }
                 ] }.to_json
      } }
        - %i[wikirate_community blurb].card.item_cards.each do |blurb|
          = nest blurb, view: :action_card

%section#project-organizers.container.py-5.text-center
  .pt-5.pb-3.d-flex.d-flex.justify-content-center
    .w-50
      = section_header :project_organizer_heading
  = render :company_slider

%section#community-actions.container-fluid.bg-light.py-5
  .container.py-5

    %h2 Community stories
    .community-quotes{ data: {
       slick: { #infinite: false,
                 centerMode: true,
                 slidesToShow: 2,
                 responsive: [
                   { breakpoint: "992", settings: { slidesToShow: 1 } }
                 ]}.to_json
      } }
      - %i[wikirate_community quote].card.item_cards.each do |endorsement|
        = nest endorsement, view: :endorsement


-# %section#about-community-members.container.vertical-thumbnails.p-5.vertical
-#   = section_header :community_member_heading
-#   .py-5
-#     .community-action-cards{ data: {
-#         slick: { #infinite: false,
-#                  centerMode: true,
-#                  slidesToShow: 3,
-#                  prevArrow: "#about-community-members .wr-prev",
-#                  nextArrow: "#about-community-members .wr-next",
-#                  responsive: [
-#                    { breakpoint: "992", settings: { slidesToShow: 5 } },
-#                    { breakpoint: "768",  settings: { slidesToShow: 3 } }
-#                  ] }.to_json
-#       } }
-#       - %i[account featured].card.item_cards.each do |designer|
-#         .featured-member
-#           = nest designer, view: :thumbnail, size: :medium
-#     .text-center.py-3
-#       = render_nav_arrows

%section#community-ctas.container.py-5
  .row.py-5
    .col-12.col-md-6.d-flex.my-3
      = nest :community_cta, view: :cta, title: "Explore contribution opportunities"
    .col-12.col-md-6.d-flex.my-3
      = nest :contact_us, view: :section
