%section#about-community-header.container-fluid.header-with-bg
  .container.p-5.py-3
    = render_breadcrumbs
    = section_header :main_community_heading, url: "/new/:signup", text: "Join Us"

%section.container.p-5
  = render_fancy_counts

%section.container-fluid.bg-light
  .container.p-5.community-actions
    = section_header :community_action_heading do
      - render_nav_arrows
    .py-5
      .community-action-cards{ data: {
        slick: { #infinite: false,
                 centerMode: true,
                 slidesToShow: 3,
                 prevArrow: ".community-actions .wr-prev",
                 nextArrow: ".community-actions .wr-next",
                 responsive: [
                   { breakpoint: "992", settings: { slidesToShow: 2 } },
                   { breakpoint: "768",  settings: { slidesToShow: 1 } }
                 ]}.to_json
      } }
        - %i[wikirate_community blurb].card.item_cards.each do |blurb|
          = nest blurb, view: :action_card


%section#about-community-members.container.vertical-thumbnails.p-5.vertical
  = section_header :community_member_heading
  .row.py-5
    - %i[account featured].card.item_cards.each do |designer|
      .col-2
        = nest designer, view: :thumbnail, size: :medium

= nest :contact_us, view: :section
