%header.jumbotron.jumbotron-fluid
  .container
    %h1
      = render_title
    .lead
      = field_nest :description, view: :content
.container
  %section.guide-body.row.nodblclick
    %aside#guide-sidebar.col-sm-4
      .back-to-help-link.pb-5
        = link_to_card :guide_type, "Back to Help"
      .sidebar-nav-list
        = nest %i[guide_type list], items: { view: :sidebar_nav }

    %main#guide-body.col-sm-8
      .pb-5
        = render_menu
      = field_nest :body, view: :content
