%header.jumbotron.jumbotron-fluid
  = render_menu
  .container
    %h1
      = render_title
    .lead
      = field_nest :description, view: :content
.container
  %section.guide-body.row
    %aside#guide-sidebar.col-sm-4.nodblclick
      .back-to-help-link.pb-5
        - link_text = capture_haml do
          %i.fas.fa-arrow-left
          Back to Help
        = link_to_card :guide_type, link_text
      .sidebar-nav-list.accordion
        = nest guide_list_card, items: { view: :sidebar_nav }

    %article#guide-body.col-sm-8.py-2
      = field_nest :body, view: :content_with_anchored_headers
  %section.guide-paging.p-5
    = render_guide_paging
