
.sidebar-nav
  %button.btn.btn-light.my-1{ data: { "toggle": "collapse",
                                      "target": "##{card.key}-collapse" },
                              "aria-expanded": ("true" if expanded?) }
    %i.fas
    %span.pl-2
      = card.name
  .sidebar-nav-content.collapse{ id: "#{card.key}-collapse",
                                 data: { parent: ".sidebar-nav-list" },
                                 class: ("show" if expanded?) }
    - subheaders.each do |subheader|
      .sidebar-subheader.p-2.ml-4
        - anchor_href = "#{card.name.url_key}##{subheader.text.to_name.key}"
        = link_to subheader.text, href: anchor_href
