- if total_results.positive?
  .answer-search-progress.py-2
    = render_progress_bar
  .filter-result-header.d-flex.justify-content-between
    .filter-result-badges
      = answer_count_badge total_results, :metric_answer
      = answer_count_badge metric_count, :metric
      = answer_count_badge company_count, :wikirate_company
      = answer_count_badge year_count, :year
    .filter-result-menu
      - unless card.codename == :metric_answer
        = link_to_card :metric_answer, mapped_icon_tag(:dashboard),
                       path: { filter: query_hash }, title: "Answer Dashboard"
      %a._filter-bindings.known-card{ title: "Chart Bindings" }
        = icon_tag :tune

- if voo.show? :chart
  .answer-search-chart.my-2.text-center
    = _render_chart
- if total_results.positive?
  .card-notice
  .details-table
    = render_table home_view: :table
