- if total_results.positive?
  .answer-search-progress.py-2
    = render_progress_bar
  .filter-result-header.d-flex.justify-content-between.mb-2
    .filter-result-badges
      = answer_count_badge :metric_answer
      - unless all_answer?
        - if show_company_count?
          = answer_count_badge :wikirate_company
        - if show_metric_count?
          = answer_count_badge :metric
        = answer_count_badge :year
    .filter-result-menu
      -# - unless card.codename == :metric_answer
      -#   = link_to_card :metric_answer, mapped_icon_tag(:dashboard),
      -#                  path: { filter: query_hash }, title: "Answer Dashboard"
      %a._filter-bindings.known-card{ title: "Chart Bindings" }
        = icon_tag :tune

- if show_chart?
  .answer-search-chart.my-2.text-center
    = _render_chart
- if total_results.positive?
  .card-notice
  .details-table
    = render_table home_view: :table
