%div.nodblclick
  = answer_form_hidden_tags
  .editor
    .year
      = field_nest :year, title: "Year"
    - if card.subfield(:related_company)
      .related-company
        = field_nest :related_company, title: "Related Company"
    .value
      = field_nest :value, title: "Answer"
      = haml_partial :citations_formgroup
      = haml_partial :discussion

  .row.buttons
    .col-md-11.col-centered
      = _render_edit_buttons!
      .card-notice
