.panel-default.nodblclick.col-md-4#metric-container
  = answer_form_hidden_tags
  .row.editor
    .col-md-11.year.col-centered
      = field_nest :year, title: "Year"
    - if card.subfield(:related_company)
      .col-md-11.related-company.col-centered
        = field_nest :related_company, title: "Related Company"
    .col-md-11.value.col-centered
      = field_nest :value, title: "Answer"
      = render_haml :cited_sources
      %label
        Source Suggestions /
        %a.btn.btn-sm.btn-default._add_new_source{ href: "#",
                                                   data: {url: source_form_url} }
          %small
            %span.icon.icon-wikirate-logo-o.fa-lg
            Add a new source
      = _render_relevant_sources

      %p
        - with_nest_mode :normal do
          %label
            Comment
          = field_subformat(:discussion).comment_box

  .row.buttons
    .col-md-11.col-centered
      = _render_edit_buttons
      .card-notice
= render_haml :source_side
