.attribution-bar-left
  .pb-2
    - if card.wikirate_title.present?
      = field_nest :wikirate_title, view: :core
    - else
      %em Untitled Reference
    %span._over-card-link.small
      = link_to_card card.subject_item_card, "(#{card.subject_item_card.type_name})"
  .attribution-links.fw-normal._over-card-link.small
    - if card.url_card.real?
      .attribution-url
        = field_nest :url, view: :url_link, unknown: :blank
    - if card.file_card.real?
      .attribution-snapshot
        = field_nest :file, view: :link, title: "snapshot"