- sample_answer = record_sample_answer metric_id, company_id, year, value
- if answer_count == 1
  = nest_item sample_answer, view: :full_bar
- else
  - class_up "bar", "with-bar-menu" if voo.show? :bar_menu
  .answer-group.grouped-record-list.no-bar-hover.w-100.nodblclick.d-flex{ class: classy("bar"), data: sample_answer.format.bar_wrap_data }
    .row.g-0.bar-body
      .bar-left.col-8
        = nest_item sample_answer, view: :bar_left
      .bar-middle.col-2._answer-group-modal-link
        = nest_item sample_answer, view: :bar_middle
      .bar-right.col-2
        = nest_item sample_answer, view: :markers
        .latest-and-count.d-flex.align-items-center{ title: "#{answer_count} years have datapoints" }
          .TYPE-year.color-on-hover
            = sample_answer.year
          .ps-1
            +
          = answer_count_badge :year, (answer_count - 1)
    = nest sample_answer, view: :bar_menu
