%section.container-fluid.bg-light
  .container.pb-5.pt-3
    = render_breadcrumbs
    %h1.pt-4.pb-3
      = render_title
    .lead
      = nest %i[policy description], view: :content

%section.container.py-5.d-flex.justify-content-center
  = nest %i[policy type by_name], view: :core, items: { view: :box }

%section.container-fluid.bg-light.py-5
  .container
    .card.mb-5.p-4
      .text-center
        Also see:
        %a{ href: "https://wikirate-intl.org/Policy" }
          policies and guidelines for Wikirate International e.V.

%section.container.py-5
  .p-5
    #policy-card.card.p-5
      = section_header :policy_cta,
                       button: { url: "https://wikirate-intl.org/Contact_us",
                                 text: "Get in touch", target: "_intl" }