%div.nodblclick
  = answer_form_hidden_tags
  .editor
    - if card.subfield(:related_company)
      .related-company
        = field_nest :related_company, title: "Related Company"
    .value
      -# must nest as value_card (not symbol) to get the correct value cardtype.
      = nest card.value_card, title: "Answer"
      = haml_partial :citations_formgroup
      = haml_partial :discussion

  .row.buttons
    = _render_edit_buttons!
    .col-md-11.col-centered
      .card-notice
