%nav#top-navbar.navbar.bg-white.nodblclick
  .container
    .navbar-container
      .navbar-brand
        %a.full-wr-logo{ href: "/" }
          %img{ src: "/mod/wikirate/logos/wr_logo_full.svg" }

      .top-nav-links
        .top-nav-account
          - class_up "signin-link", "btn btn-primary"
          %ul.navbar-nav
            %li.nav-item
            = nest :account_links, view: :core
        .top-nav-burger
          = nest :nav_menu, view: :core

      .top-nav-search.search-box-nav
        = nest :search, view: :search_box
%section.container.sub-navbar.d-flex.nodblclick
  .d-xxl-none.d-flex.align-center.p-3
    %a.wr-prev.wr-arrow
      = material_symbol_tag :arrow_back_ios

  .col-10.col-xxl-12
    .px-3{ data: {
      "slick-selector": ".card-list-thumbnail",
      slick: { infinite: false,
               slidesToShow: 8,
               arrows: false,
               prevArrow: ".sub-navbar .wr-prev",
               nextArrow: ".sub-navbar .wr-next",
               variableWidth: true,
               slidesToScroll: 1,
               responsive: [
                 { breakpoint: "1400", settings: { slidesToShow: 6, arrows: true } },
                 { breakpoint: "1200", settings: { slidesToShow: 4, arrows: true } },
                 { breakpoint: "768",  settings: { slidesToShow: 3, arrows: true } },
                 { breakpoint: "576",  settings: { slidesToShow: 1, arrows: true } }
               ]}.to_json
      } }
      = nest %i[cardtype featured], items: { view: :thumbnail, variant: :plural }

  .d-xxl-none.d-flex.align-center.p-3
    %a.wr-next.wr-arrow
      = material_symbol_tag :arrow_forward_ios
