%small
  = nest :wikirate_license, view: :core
- secondary_menus.each do |header, items|
  %small
    = "#{header}:"
    - links = items.map { |item| link_to item, href: nav_menu_item_url(header, item) }
    = links.join " | "
%small
  Powered by:
  = link_to "Decko", href: "https://decko.org"
