%small
  = nest :wikirate_license, view: :core
%small
  = link_to_card "Contact WikiRate"
  |
  = link_to_card "Privacy Policy"
  |
  = link_to_card "Legal"
  |
  = link_to_card "Donate"
  |
  = link_to "Twitter", href: "https://twitter.com/wikirate"
  | Powered by
  = link_to "Decko", href: "https://decko.org"
