.answer-read-form
  .form-group.read-form-group
    %label
      Question
    .read-formgroup-content
      = nest card.metric_card.question_card, view: :core

  .form-group.read-form-group
    %label
      Answer
    .read-formgroup-content
      = field_nest :value, view: :core
      .text-muted.small{ title: card.format(:text).render_legend }
        = render_legend
      = field_nest :value, view: :credit

  = render_read_form
  = render_flash
  .research-buttons.button-form-group.d-flex.justify-content-between
    - class_up "flag-button", "btn-lg"
    ._research-buttons.pe-2
      = link_to_view :edit_inline, "Edit Answer",
                     class: "btn btn-outline-secondary btn-lg _edit-answer-button mb-4",
                     data: { "disable-with": "Loading..." }

    ._verification-buttons.text-end.ps-2
      = render_flag_button
      = field_nest :checked_by, view: :content