.filtered-results-header
  - if total_results.zero?
    = render_open_filter_button
    // filter closers here
  - else
    - if !show_chart?
      = render :controls_and_stats
    - else
      .row.filter-header-with-chart
        .col-12.col-md-6
          = render :controls_and_stats
        .col-12.col-md-6
          .d-flex.justify-content-between
            .answer-search-chart.my-2.text-center
              = _render_chart
            .filter-result-menu
              %a._filter-bindings.known-card{ title: "Chart Bindings" }
                = icon_tag :tune


