.row._filtered-list-item._variable-row{ data: wrap_data }
  .col-2.formula-variable
    = text_field_tag "variable-name", name, class: "_variable-name"
  .col-4.metric-label
    = render_thumbnail_no_link
  .col-2.formula-options
    .text-end
      %a._edit-variable-options{ href: "#" }
        = icon_tag :pencil

    ._formula_options{ "data-options": options.to_json }
  .col-1.border-none
    %span._remove-variable.btn.btn-outline-secondary.btn-sm
      = fa_icon :close
  .col-3.formula-sample-value-cell
    = text_field_tag "formula-sample-value", "", class: "_sample-value"
