//%form

.export-panel.p-3
  = render_export_hidden_tags
  %h2.mb-3 Export Data
  - if respond_to? :export_types
    .row.mb-3
      .col-4
        %label.form-label Type
      .col-8
        = select_tag :export_type, options_for_select(export_types),
                     class: "_no-select2 form-select",
                     form: "export-form"
  .row.mb-3
    .col-4
      %label.form-label Format
    .col-8
      = select_tag :format, options_for_select(export_formats),
                            class: "_no-select2 form-select",
                            form: "export-form"
  - if export_views.is_a? Hash
    .row.mb-3
      .col-4
        %label.form-label
          Detail
          = detail_popover
      .col-8
        = select_tag :view, options_for_select(export_views),
                     class: "_no-select2 form-select",
                     form: "export-form"
  - else
    = hidden_field_tag "view", export_views, form: "export-form"

  = render_export_limit

  .d-flex.justify-content-between
    .btn.btn-outline-secondary{ "data-bs-toggle": "collapse",
                                "data-bs-target": ".export_panel-view"}
      Cancel
    = render_export_form_button
