%section#about-data-header.container-fluid.bg-light.header-with-bg
  .container.pb-5.pt-3
    = render_breadcrumbs
    = section_header :data_main_heading, button: { url: "/Use_our_Api",
                                                   text: "Use our API" },
                                         header_size: :h1

%section#special-data.py-5.container.text-center
  .w-50.d-inline-block.pt-5.pb-4
    = section_header :data_special
  .row.justify-content-center
    - %i[wikirate_data blurb].card.item_cards.each do |blurb|
      .col-12.col-sm-6.col-md-4.p-3
        = nest blurb, view: :stack

%section#reliable-data.container-fluid.bg-light.py-5
  .container.py-5
    .row
      .col-12.col-lg-4
        .mb-3
          = section_header :data_reliable
      .teal-flippers.col-12.col-lg-8
        .row.justify-content-center
          - %i[wikirate_data list].card.item_cards.each do |blurb|
            .card-list-flipper.col-12.col-sm-6
              .item-flipper.py-3
                = nest blurb, view: :flipper

        -# = field_nest :list, view: :core, items: { view: :flipper }

%section.container.py-5
  #wikirate-data-today.my-5.p-4
    .p-5
      = section_header :data_usage, button: { url: "/Exporting_Data",
                                              text: "Export Guide" }

