%section#about-data-header.container-fluid.bg-light.header-with-bg
  .container.p-5.py-3
    = render_breadcrumbs
    = section_header :data_main_heading, button: { url: "/Use_our_Api",
                                                   text: "Use our API" },
                                         header_size: :h1

%section#special-data.p-5.container.text-center
  .w-75.d-inline-block
    = section_header :data_special
  = field_nest :blurb, view: :core, items: { view: :stack }

%section#reliable-data.container-fluid.bg-light
  .container.p-5
    .row
      .col-4
        = section_header :data_reliable
      .col-8.two-flippers.teal-flippers
        = field_nest :list, view: :core, items: { view: :flipper }

%section.container.p-5
  #wikirate-data-today.my-5.p-4
    .p-5
      = section_header :data_usage, button: { url: "/Exporting_Answers",
                                              text: "Export Guide" }

