#homepage-core.nodblclick
  .m-0
    = render_top_banner
  .pb-5.bg-white.border-top
    = render_video_section
  .row.m-0.transparent-background-white.border-top
    = render_numbers
  .m-0.pb-5.transparent-background-white.border-top
    = render_projects
  .row.m-0.bg-white.border-top
    = render_organizations
  = render_footer