.top-banner-wrapper.white-text.banner-background.vh-90
  .container.banner-lead.text-center.mt-0
    .banner-image
      = nest :wikirate_white_logo, view: :core, size: :medium
    %span.wikirate-logo-title
      Wiki
      %strong> Rate
    %p.lead.mb-0.mb-md-5.text-nowrap Let's make companies better, together.
    .dynamic-question.white-text.pt-5.mt-0.mt-md-5
      %h3.fw-normal
        .p-3
          How does
        .flip-slot.me-2.loading-text
          .flip-this-default
          .flip-this
            = companies.join("|")
        .p-3
          perform on
        .text-nowrap
          .flip-slot.loading-text
            .flip-this-default
            .flip-this
              = topics.map { |t| "#{t}?" }.join("|")
      %h3.fw-normal
        .p-3
          To know and act, you need
        .flip-slot.me-2.loading-text
          .flip-this-default
          .flip-this
            = adjectives.join("|")
        .p-3
          data.

