.top-banner-wrapper.text-white.banner-background.vh-90
  .container.banner-lead.text-center.mt-0
    .banner-image
      = nest :wikirate_white_logo, view: :core, size: :medium
    %span.wikirate-logo-title
      Wiki
      %strong> Rate
    %p.lead.mb-0.mb-md-5.text-nowrap Let's make companies better, together.
    .dynamic-question.text-white.pt-5.mt-0.mt-md-5
      %h3.fw-normal
        .row.p-3
          .col-6.text-end
            How does
          .col-6.text-start
            .flip-slot.me-2.loading-text
              .flip-this-default
              .flip-this
                = companies.join("|")
        .row.p-3
          .col-6.text-end
            perform on
          .col-6.text-start
            .text-nowrap
              .flip-slot.loading-text
                .flip-this-default
                .flip-this
                  = topics.map { |t| "#{t}?" }.join("|")
        -#.row.p-3
        -#  .col-6.text-end
        -#    To know and act,
        .row.p-3
          .col-6.text-end
            To know, you need
          .col-6.text-start
            .flip-slot.me-2.loading-text
              .flip-this-default
              .flip-this
                = adjectives.map { |t| "#{t} data." }.join("|")
