%div.drop-shadow.background-white.mt-3.mb-3
  .metric-info.metric-header.nopadding
    .metric-details-header.text-center.w-100
      %h3.name.mt-3
        = link_to_card card, card.metric_title, class: "inherit-anchor"
      %hr
      .row
        .metric-designer-info
          %a{:href => nest(card.metric_designer, view: :url)}
            .image-box.icon
              = nest(card.designer_image_card, view: :core, size: :small)
            %div
              %span.text-muted Designed by
              %span
                = card.metric_designer
    / Question container
    .row.question-container
      .row-icon
        %i.fa.fa-question
      .col-10
        .row-data
          = field_nest :question, view: :content
    .row.metric-info
      / Ratings and company list
      = field_nest :all_metric_values, view: :homepage_table
