.checked-by-core
  .checked-by-status
    - link_text = capture_haml do
      Community members who have verified that the
      %strong answer accurately represents its source
      since it was #{verb}.
    .checkers-list.d-flex.align-items-center
      - count = checker_count
      = labeled_badge count, "Checker".pluralize(count)
      = popover_link link_text
      .d-inline.ms-3
        = checkers_list

  = render_check_interaction if allowed_to_check?
