- link_text = capture_haml do
  Community members who have confirmed that the
  %strong answer accurately represents its source
  since it was #{verb}.

- count = checker_count

.checked-by-core.d-flex.flex-column.align-items-end
  = render_check_interaction
  .checked-by-status.pt-3
    .checkers-list.d-flex.align-items-center
      = labeled_badge count, "Verification".pluralize(count)
      = popover_link link_text
      .d-inline.ms-3
        = checkers_list

