.form-group
  %label{ for: "terms-of-use-radios"}
    %span.card-title Terms of Use
    .help-text.help-block
      Do you agree to our
      = link_to_card("Terms of Use", nil, target: "_policy") + "?"
  #terms-of-use-radios
    %ul.pointer-radio-list
      - %w[yes no].each do |val|
        %li.pointer-radio.radio.form-check
          %input._terms-checkbox.pointer-radio-button.form-check-input{ type: "radio",
                                                                        name: "terms_of_use",
                                                                        value: val,
                                                                        id: "terms-#{val}",
                                                                        checked: (val == "no") }
          %label.form-check-label{ for: "#terms-yes" }
            = val.capitalize

.py-4.small.text-center
  By clicking "Sign up" you agree to our
  // #
  = link_to_card("Privacy Policy", nil, target: "_policy") + "."
  //# + ", and"
  //# link_to_card("Cookie Policy", nil, target: "_policy")

.py-2
  = standard_create_button text: "Sign up", disabled: true, id: "_signup-button"
.py-2.text-center
  = link_to_card :signin, "Already a Wikirate member? Log in"
.py-2
  .card-notice